<div class="container index">
    <ul class="list-inline">
        {% if TWITTER_USERNAME %}
            <li><a href="https://twitter.com/{{ TWITTER_USERNAME }}" title="@{{ TWITTER_USERNAME }} on Twitter" rel="me">Twitter</a></li>
        {% endif %}
        {% if GITHUB_USERNAME %}
            <li><a href="https://github.com/{{ GITHUB_USERNAME }}" title="@{{ GITHUB_USERNAME }} on Github" rel="me">Github</a></li>
        {% endif %}
        {% if SHOW_FEED %}
            <li><a href="{{ SITEURL }}/feeds/all.atom.xml" title="Feed">Syndicate</a></li>
        {% endif %}
    </ul>
</div>
