{% extends "base.html" %}

{% block title %}{{ page.title }}{% endblock %}

{% block extra_head %}

<!-- map stuff -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
   integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
   crossorigin=""/>

 <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
   integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
   crossorigin=""></script>

<style>
    #mapid {
        height: 1000px;
    }
</style>

<!-- end map stuff -->

{% endblock %}



{% block headerimg %}{% if page.headerimg %}{{ page.headerimg }}{% else %}{{ DEFAULT_HEADER_BG }}{% endif %}{% endblock %}

{% block content %}
<div class="container post">

    <article>
        <header>
            {% if page.date %}
                <time datetime="{{ page.date.isoformat() }}" pubdate>{{ page.locale_date }}</time>
            {% endif %}
            <h1>{{ page.title }}</h1>
        </header>

        <div class="article_content">

            {{ page.content }}
        </div>


        <div id="mapid"></div>

    <script>

        var map = L.map("mapid").setView([10, 27.5], 4);
        
        map.createPane("labels");
        map.getPane("labels").style.zIndex = 650;
        map.getPane("labels").style.pointerEvents = "none";

        // basemap stuff

        var basemaps = {
            GMRT: L.tileLayer.wms("https://www.gmrt.org/services/mapserver/wms_merc?request=GetCapabilities&service=WMS&version=1.3.0", {
              layers: 'topo',
              attribution: '©GRMT'
            }),
            
            
            OpenMapSurfer_Roads : L.tileLayer('https://korona.geog.uni-heidelberg.de/tiles/roads/x={x}&y={y}&z={z}', {
            	maxZoom: 20,
            	attribution: 'Imagery from <a href="http://giscience.uni-hd.de/">GIScience Research Group @ University of Heidelberg</a> &mdash; Map data &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
            }),
        };

        var human_basemaps = {
            "CartoDB OSM": L.tileLayer("http://{s}.basemaps.cartocdn.com/light_nolabels/{z}/{x}/{y}.png", {
                attribution: '©OpenStreetMap, ©CartoDB',
                opacity: 0.7
            }),

            cartoLabels: L.tileLayer("http://{s}.basemaps.cartocdn.com/light_only_labels/{z}/{x}/{y}.png", {
                attribution: '©OpenStreetMap, ©CartoDB',
                pane: "labels"
            })
        };

        map_data_dir = "../../map_data/" + "{{ page.acronym }}" + "/"
        contour_gj_loc = map_data_dir + "pga_10_50_contours_filled.geojson"
        fault_poly_gj_loc = map_data_dir + "fault_polys.geojson"


        var pgaLayer = L.geoJSON(null, {
                    style: function(feature) {
                        return {
                            color: feature.properties.fill,
                            fillColor: feature.properties.fill,
                            fillOpacity: 0.3
                        }
                    },

                    onEachFeature: function(feature, layer) {
                        layer.bindPopup( feature.properties.title + " g")
                    }
                });
            
        var faultLayer = L.geoJSON();

        async function getGeoData(url) {
            let response = await fetch(url);
            let data = await response.json();
            return data;
        }

        getGeoData(contour_gj_loc).then(data => pgaLayer.addData(data)) 
        getGeoData(fault_poly_gj_loc).then(data => faultLayer.addData(data)) 
        
        var overlays = {"CartoDB OSM": human_basemaps["CartoDB OSM"]}

        var sourceLayers = {
            "Fault Sources": faultLayer,
            "PGA (10% exceedence in in 50 years)": pgaLayer
            }

        L.control.layers(basemaps,
                         sourceLayers).addTo(map);
        basemaps.GMRT.addTo(map);
        //pgaLayer.addTo(map);
        human_basemaps.cartoLabels.addTo(map);


    </script>

    </article>
</div>
{% endblock %}

